@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply my-[0.67em] text-[2em] font-bold;
  }

  h2 {
    @apply my-[0.83em] text-[1.5em] font-bold;
  }

  h3 {
    @apply my-[1em] text-[1.17em] font-bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Gloock", serif;
  }

  p {
    @apply my-[1em];
  }
}

:root {
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
